h1 {
    background: teal;
    padding: 20px;
    color: white;
    float: left;
    position: relative;
    margin: 0;
    text-align: center;
}

html {
    height: 100%;
    margin: 0%;
    background-image: url("prism.png");  
}

body {
    background-color: lightslategrey;
    width: 960px;
    margin: auto;
    overflow: auto;
    
}

.wrapper {
    background-color:white;
    text-align: center;
    color: black;
    min-height: 100%; 
    margin-bottom: -50px;
    clear: both;
    border-top: lightsalmon 5px solid;
}

footer,.push {
    height: 50px;   
}

h2 {
    color: black;
    text-align: center;
}

ul {
    padding: 0;
    overflow: hidden;
    float: right;
    
}
  
li {
    list-style-type: none;
    float: right;
    background: white;
}
  
li a {
   
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
        

}
  
li a:hover {
    background-color: teal;
}
  
.active {
    background-color: teal;
}

ul.topbar {
    list-style-type: none;
    padding: 20px 10px 0px 0px;
}

.border {
    border-bottom: white solid 5px;
    position: relative;
    padding-top: 12px;
    color: lightslategray;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: darkblue;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 80px;
  }