h1 {
    background: teal;
    padding: 20px;
    color: white;
    float: left;
    position: relative;
    margin: 0;
    text-align: center;
}

.picture {
    clear: both;
    padding-top: 20px;
    padding-left: 20px;
}

html {
    height: 100%;
    margin: 0%;
    background-image: url("prism.png");  
}

body {
    background-color: lightslategrey;
    overflow: auto;
    text-align: center;
    width: 960px;
    margin: auto;
}

h3 { 
    font-size: 30px;
    padding-left: 5px;
}

.wrapper {
    background-color:white;
    text-align: center;
    color: black;
    min-height: 100%; 
    margin-bottom: -50px;
    clear: both;
}

footer,.push {
    height: 50px;   
}

section.contactme {
    color: white;
}

ul {
    padding: 0;
    overflow: hidden;
    float: right;
    
}
  
li {
    list-style-type: none;
    float: right;
    background: white;
}
  
li a {
   
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
        

}
  
li a:hover {
    background-color: teal;
}
  
.active {
    background-color: teal;
}


ul.topbar {
    list-style-type: none;
    padding: 20px 10px 0px 0px;
}

.border {
    border-bottom: white solid 5px;
    position: relative;
    padding-top: 12px;
    color: lightslategray;
}

.clearfix { 
    display: block;
    clear: both;
}
